section{
    width: 100%;
    height: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#caixa1{
    width: 400px;
    height: 150px;
    text-align: center;
    float: left;
    padding-left: 250px;
}

#caixa1 p{
    background-color: lawngreen;
    border-radius: 3px;
}

#caixa2{
    width: 400px;
    height: 220px;
    text-align: center;
    float: right;
    padding-right: 250px;
}

#caixa2 p{
    background-color: aqua;
    border-radius: 3px;
}

#caixa3{
    width: 400px;
    height: 220px;
    text-align: center;
    float: left;
    padding-left: 250px;
}

#caixa3 p{
    background-color: aqua;
    border-radius: 3px;
}

#caixa4{
    width: 400px;
    height: 220px;
    text-align: center;
    float: right;
    margin-right: 250px;
}

#caixa4 p{
    background-color: lawngreen;
    border-radius: 3px;
}   